@import url("/src/styles.css");
@import url("/src/flex.css");

@font-face {
  font-family: "Ubuntu";
  src: url("/public//assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

#root {
  font-family: "Ubuntu";
  min-height: 100vh;
  padding: 12px;
}

body {
  margin: 0;
  min-height: 100vh;
}
