@import url("/src/styles.css");
@import url("/src/flex.css");

@font-face {
  font-family: "UbuntuReg";
  src: url("/public//assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "UbuntuMed";
  src: url("/public//assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "UbuntuBold";
  src: url("/public//assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

#root {
  font-family: "UbuntuReg";
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* TEXT-COLORS */

.text-mb {
  color: var(--marine-blue);
}

.text-cg {
  color: var(--cool-gray);
}

.text-pb {
  color: var(--purplish-blue);
}

/* FONT-WEIGHTS */

.text-reg {
  font-family: "UbuntuReg";
}

.text-med {
  font-family: "UbuntuMed";
}

.text-bold {
  font-family: "UbuntuBold";
}

/* MARGINS */

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.m-0 {
  margin: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-32 {
  margin-top: 32px;
}

.ml-24 {
  margin-left: 24px;
}

/* CURSOR */

.cur-p {
  cursor: pointer;
}

.underline-text {
  text-decoration: underline;
}

/* COMMON CLASSES */

.card-padding {
  padding: 48px 0 32px 0;
}
